<h1 id="title" class="title">Work & Out</h1>
<p class="sub-title">Profil</p>

<div class="form-control-group">
    <label class="label"  size="large">Prénom</label>
    <input nbInput fullWidth value="{{user.name}}" fieldSize="large"  >
</div>
<div class="form-control-group">
    <label class="label" size="large">Nom</label>
    <input nbInput fullWidth value="{{user.lastName}}" fieldSize="large"  >
</div>
<div class="form-control-group">
    <label class="label" size="large">Email</label>
    <input nbInput fullWidth value="{{user.email}}" fieldSize="large" >
</div>

