<h1 id="title" class="title">Work & Out</h1>
<p class="sub-title">Profil</p>

<div class="form-control-group">
    <label class="label" size="large">Prénom</label>
    <input nbInput fullWidth value="{{user.lastname}}" fieldSize="large" disabled autofocus>
    <input nbInput fullWidth value="{{user.lastname}}" fieldSize="large" *ngIf="">
</div>
<div class="form-control-group">
    <label class="label" size="large">Nom</label>
    <input nbInput fullWidth value="{{user.name}}" fieldSize="large" disabled autofocus>
    <input nbInput fullWidth value="{{user.name}}" fieldSize="large" *ngIf="">
</div>
<div class="form-control-group">
    <label class="label" size="large">Email</label>
    <input nbInput fullWidth value="{{user.email}}" fieldSize="large" disabled autofocus>
    <input nbInput fullWidth value="{{user.email}}" fieldSize="large" *ngIf="">
</div>

<div class="row">
    <button nbButton class="offset-1 col-3"  status="primary" type="submit" (click)="submitUpdate()">
        Update Profile
    </button>

    <button nbButton class="offset-4 col-3 " status="danger" (click)="submitDelete()">
        Delete Account
    </button>
</div>
