<h1 class="m-0">My timers</h1>

<ng-container *ngIf="timers.length > 0; then list else empty"></ng-container>

<ng-template #list>
<table class="mt-4">
  <thead>
  <tr>
    <th>Project</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Work time</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let timer of timers">
    <tr>
      <td>{{ timer.project ? timer.project.name : '-' }}</td>
      <td>{{ timer.dateStart|date:'mediumDate' }}</td>
      <td>{{ timer.dateEnd|date:'mediumDate' }}</td>
      <td>{{ timer.dateStart && timer.dateEnd ? getDiff(timer.dateStart, timer.dateEnd) : '-' }}</td>
      <td>
        <button nbButton size="tiny" shape="semi-round" status="danger" (click)="delete(timer)">
          <nb-icon icon="trash-2-outline"></nb-icon>
        </button>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
</ng-template>
<ng-template #empty>
  <div class="h6 mt-4">You currently have no timer</div>
</ng-template>
