<div class="row">
  <div class="col-7">
    <h1 class="m-0 groupName" *ngIf="!editMode">
      <span (click)="changeMode()">{{ group.name }}</span>
      <ng-container *ngIf="group.admin._id === user._id">
        <button class="ml-2" nbButton size="tiny" shape="semi-round" status="primary" (click)="changeMode()">
          <nb-icon icon="edit-outline"></nb-icon>
        </button>
        <button class="ml-2" nbButton size="tiny" shape="semi-round" status="danger" (click)="delete()">
          <nb-icon icon="trash-2-outline"></nb-icon>
        </button>
      </ng-container>
    </h1>
    <div *ngIf="editMode">
      <input type="text" [(ngModel)]="group.name" nbInput fieldSize="large" shape="semi-round">
      <button class="ml-2" nbButton size="tiny" shape="semi-round" fieldSize="large" status="success"
              (click)="save(); editMode = false">
        <nb-icon icon="save-outline"></nb-icon>
        Save
      </button>
    </div>
  </div>
  <div class="col-5 position-relative">
    <nb-card class="member admin">
      <b>
        Administrator of the group
      </b>
      <p>
        {{ group.admin.firstName|uppercase }} {{ group.admin.lastName }}
        <small>({{ group.admin.email }})</small>
      </p>
    </nb-card>
  </div>
</div>

<div class="h4 mt-4">
  Members
  <button nbButton size="tiny" shape="semi-round" status="basic" *ngIf="group.admin._id === user._id"
          (click)="showFormMembers()">
    {{ show === false ? 'Add new' : 'Close' }}
  </button>
</div>

<ng-container *ngIf="show">
  <nb-select [(ngModel)]="selectedValue" multiple placeholder="Choose members" shape="semi-round" class="search-input">
    <nb-option *ngFor="let member of members"
               value="{{ member._id }}">{{ member.firstName|uppercase }} {{ member.lastName }}</nb-option>
  </nb-select>
  <button nbButton size="tiny" shape="semi-round" status="success" class="ml-2" (click)="addUser()">
    <nb-icon icon="checkmark-outline"></nb-icon>
  </button>
</ng-container>

<ng-container *ngIf="group.users.length > 0; then list else empty"></ng-container>
<ng-template #list>
  <div class="row mt-4">
    <div class="col-6" *ngFor="let member of group.users">
      <nb-card class="member">
        <div class="row">
          <div class="col-10">
            <p>
              {{ member.firstName|uppercase }} {{ member.lastName }}
            </p>
            <p>
              {{ member.email }}
            </p>
          </div>
          <div class="col-2" *ngIf="group.admin._id === user._id">
            <button (click)="deleteMember(member)" class="ml-2" nbButton size="tiny" shape="semi-round" status="danger">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </div>
        </div>
      </nb-card>
    </div>
  </div>
</ng-template>
<ng-template #empty>
  <div class="h6 mt-4">No member in this group</div>
</ng-template>
