<input type="text" [(ngModel)]="group.name" class="mt-2" nbInput fieldSize="large" shape="semi-round"
       placeholder="Name">

<nb-select [(ngModel)]="group.users" multiple placeholder="Choose members" fieldSize="large" shape="semi-round"
           class="ml-2 search-input">
  <nb-option *ngFor="let member of members" value="{{ member._id }}">{{ member.firstName + ' ' + member.lastName|uppercase }}</nb-option>
</nb-select>

<button class="ml-2" nbButton size="tiny" shape="semi-round" fieldSize="large" status="success" (click)="save();">
  <nb-icon icon="save-outline"></nb-icon>
  Save
</button>
