<nb-card>
  <nb-card-header>
    <div class="cardHeader">
      <div class="d-inline-block text-left w-75">
        {{ project.name }} - <small>Created on {{ project.dateCreate|date:'mediumDate' }}</small>
      </div>
      <div class="d-inline-block text-right w-25">
        <button (click)="showGroups()" nbButton size="tiny" shape="semi-round" status="primary" class="mr-2">
          <nb-icon icon="people-outline"></nb-icon>
        </button>
        <a [routerLink]="'view/'+[project._id]" *ngIf="project.admin.user_id === user._id">
          <button nbButton size="tiny" shape="semi-round" status="warning">
            <nb-icon icon="settings-outline"></nb-icon>
          </button>
        </a>
      </div>
    </div>
  </nb-card-header>
  <ngx-group-list [groups]="project.groups" [show]="show"></ngx-group-list>
</nb-card>
