<h1 class="m-0 mb-4">Groups</h1>
<ng-container *ngIf="groups?.length > 0; then list else empty"></ng-container>
<ng-template #list>
  <div class="row">
    <div class="col-6" *ngFor="let group of groups">
      <nb-card>
        <nb-card-header>
          <div class="cardHeader">
            <div>
              {{ group.name }} - <small>Created on {{ group.dateCreate|date:'mediumDate' }}</small>
            </div>
            <div class="text-right" *ngIf="getAdmin(group) === user._id">
              <a [routerLink]="[group._id]">
                <button nbButton size="tiny" shape="semi-round" status="primary">
                  <nb-icon icon="settings-outline"></nb-icon>
                </button>
              </a>
            </div>
          </div>
        </nb-card-header>
        <ngx-member-list [members]="group.user" [show]="show"></ngx-member-list>
      </nb-card>
    </div>
  </div>
</ng-template>
<ng-template #empty>
  <div class="h6">There are no groups</div>
</ng-template>
