<h1 class="m-0 mb-4">
  Groups
  <a [routerLink]="'add'" class="ml-2">
    <button nbButton size="tiny" shape="semi-round" status="success">
      <nb-icon icon="plus-outline"></nb-icon>
    </button>
  </a>
</h1>
<ng-container *ngIf="groups?.length > 0; then list else empty"></ng-container>
<ng-template #list>
  <div class="row">
    <div class="col-6" *ngFor="let group of groups">
      <ngx-group-box [group]="group"></ngx-group-box>
    </div>
  </div>
</ng-template>
<ng-template #empty>
  <div class="h6">There are no groups</div>
</ng-template>
