<h1 class="m-0">
  Groups
    <button nbButton size="tiny" shape="semi-round" status="success" class="ml-2" (click)="showFormGroup()">
      <nb-icon icon="{{ show === false ? 'plus-outline' : 'minus-outline' }}"></nb-icon>
    </button>
</h1>

<ng-container *ngIf="show">
  <input type="text" [(ngModel)]="group.name" class="mt-4" nbInput fieldSize="large" shape="semi-round" placeholder="Name">
  <button class="ml-2" nbButton size="tiny" shape="semi-round" fieldSize="large" status="success" (click)="save();">
    <nb-icon icon="save-outline"></nb-icon> Save
  </button>
</ng-container>

<ng-container *ngIf="groups.length > 0; then list else empty"></ng-container>
<ng-template #list>
  <div class="row mt-4">
    <div class="col-6" *ngFor="let group of groups">
      <ngx-group-box [group]="group"></ngx-group-box>
    </div>
  </div>
</ng-template>
<ng-template #empty>
  <div class="h6">There are no groups</div>
</ng-template>
